<h1>Notedown</h1>
<p>
	Notedown is a notebook application which allows you to take notes using a simple markup language and seeing the output as you type.
</p>
<p>
	Notedown makes it easy to manage your notes into notebooks and subjects. Using the Textile or Markdown language you can create rich and readable notes fast, using:
</p>
<ul>
	<li>Headings</li>
	<li>Lists</li>
	<li>Tables</li>
	<li>Links</li>
	<li>Images</li>
	<li>Blockquotes</li>
</ul>
<p>
	<a href="#">Sign up now</a> or <a href="#">Log in</a> if you already have an account.
</p>