@import "bootstrap";
@import "bootstrap-responsive";

@mixin box_sizing {
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}

#nav-signin-form {
	margin: 1em;
}

#nav-new-notebook-form {
	margin: 1em;
	input {
		margin: 0;
	}
}

.field_with_errors {
	color: $errorText;
	input {
		background-color: $errorBackground;
	}
}

#error_explanation {
	color: $errorText;
}

// notetaking
#note_content {
	resize: vertical;
}

#note_output {
	table tr {
		td, th {
			border: 1px solid black;
			padding: 0 0.2em;
		}
	}
}